.dashboard {
  h1 {
    @apply mb-4;
    font-size: 48px;
    font-weight: 500;
  }
  .firstName {
    color: red;
  }
  .subtitle {
    @apply mb-4;
    font-size: 18px;
    font-weight: 400;
  }
  @media (max-height: 866px) {
    h1 {
      @apply my-2;
      font-size: 36px;
    }
    .subtitle {
      @apply mb-1;
      font-size: 16px;
    }
  }
}
