/* Importe les directives Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";
/* Importe la font google roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #adadad #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #adadad;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  // overflow: auto;
}
