.appWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 780px;
  width: 100vw;
  min-width: 1024px;
  // @media (max-width: 1024px) {
  //   height: calc(100vh - 15px);
  // }
  // @media (max-height: 780px) {
  //   width: calc(100vw - 15px);
  // }
}

.contentWrapper {
  display: flex;
}

main {
  width: 80vw;
  height: 85vh;
  margin: auto;
  @media (max-width: 1200px) {
    @apply mx-6;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
  @media (max-height: 780px) {
    height: 100%;
  }
}
